@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  /* VARS */
  --white: #ffffff;
  --white-transparent: rgba(255, 255, 255, 0.8);
  --white-transparent2: rgba(255, 255, 255, 0.3);
  --grey: #f0f0f0;
  --medium-grey: #767676;
  --light-grey: #a9a9a9;
  --dark-grey: #404040;
  --black: #050505;
  --yellow: #f5cb85;
  --yellow2: #f9c156;

  /* -- */
  font-weight: 400;
  line-height: 1.75;
  color: var(--dark-grey);
  background: var(--grey);
  overscroll-behavior: none;
}

html {
  font-size: 100%;
} /*16px*/

body {
  font-weight: 400;
  line-height: 1.75;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.833rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  padding: 0.8rem 2.5rem;
  border-radius: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  color: var(--dark-grey);
  color: var(--black);
}

input,
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}
